html {
  box-sizing: border-box;
  background: rgb(50, 50, 50);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}

button {
  border: none;
  border-style: none;
  outline-style: none;
  background: none;
  padding: 0;
}

.bocchi {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100vh;
}

.bocchi-nav {
  height: 64px;
  flex: 0 0 64px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: 1px solid white;
}

.bocchi-body {
  flex: 1 0 auto;
}

.bocchi-row {
  display: flex;
  padding: 4px 4px;
  flex-flow: row nowrap;
  align-items: center;
}

.bocchi-row-index {
  flex: 0 0 32px;
  width: 32px;
  text-align: center;
  color: orange;
  font-size: 12px;
  font-weight: 600;
}

.bocchi-row-index-edited {
  background-color: white;
}

.bocchi-row-content {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.bocchi-column {
  padding: 0 4px;
  flex: 0 0 calc(100% / 3);
  width: calc(100% / 3);
}

.bocchi-button {
  padding: 12px 24px;
  color: white;
  border-radius: 4px;
  margin-left: 12px;
  cursor: pointer;
}

.bocchi-button-error {
  background-color: red;
}

.bocchi-button-primary {
  background-color: blue;
}

.bocchi-button-secondary {
  background-color: white;
  color: black;
}

.bocchi-button-disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgb(50, 50, 50);
}

.bocchi-select {
  background: rgb(200, 200, 200);
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid rgb(100, 100, 100);
  color: rgb(50, 50, 50);
  margin-left: 12px;
  cursor: pointer;
}

.bocchi-input,
.bocchi-input[type='number'] {
  background: rgb(50, 50, 50);
  padding: 12px 16px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgb(100, 100, 100);
  color: rgb(200, 200, 200);
}

.bocchi-textarea {
  background: rgb(50, 50, 50);
  padding: 8px 16px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgb(100, 100, 100);
  color: rgb(200, 200, 200);
  font-size: 16px;
  resize: none;
}

.bocchi-textarea-focused {
  background: orange;
  color: rgb(50, 50, 50);
  font-size: 18px;
  font-weight: 600;
}

.bocchi-textarea-alt-focused {
  background: rgb(200, 200, 200);
  color: rgb(50, 50, 50);
}

.bocchi-input:focus,
.bocchi-textarea:focus {
  outline: none;
}
